* {
  border:        none;
  border-radius: 0;
  font-family:   Inter, FontAwesome;
  font-weight:   600;
  font-size:     12px;
  min-height:    0;
}

window#waybar {
  background-color:    rgba(22, 25, 22, 0.94);
  color:               #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

tooltip {
  background-color: rgba(22, 25, 22, 0.94);
  border:           none;
}

#workspaces button {
  padding:          0 3px;
  background-color: transparent;
  color:            #bbb;
  box-shadow:       inset 0 -2px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background:  transparent;
  font-weight: 600;
  box-shadow:  inset 0 -2px #5fb3b3;
}

#workspaces button.focused {
  box-shadow:  inset 0 -2px transparent;
  color:       #5fb3b3;
  font-weight: 900;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: transparent;
  box-shadow: inset 0 -2px #ec5f67;
}

#clock,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#custom-weather,
#custom-scratchpad-indicator,
#custom-media,
#temperature,
#tray,
#mode,
#idle_inhibitor {
  padding:          0 4px;
  margin:           0 2px;
  min-width:        25px;
  color:            #bbb;
  background-color: transparent;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  color:       #5fb3b3;
  font-weight: bold;
  min-width:   30px;
  margin:      0;
}

#clock.day {
  font-weight: 400;
  color:       #fff;
  min-width:   0;
  margin-left: 10px;
}

label:focus {
  background-color: #fac863;
  color:            #000;
}

#temperature {
  min-width: 30px;
}

#memory {
}

#backlight {
}

#network {
  min-width: 0px;
  padding-left: 6px;
}

#network.disconnected {
  box-shadow: inset 0 -2px #ec5f67;
}

#pulseaudio {
  min-width: 35px;
}

#pulseaudio.muted {
  color: #999;
}

#custom-media {
  min-width: 100px;
}

#custom-weather {
  min-width: 45px;
}

#custom-scratchpad-indicator {
  padding-top: 2px;
  color:       #999;
}

#temperature {
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
  color: #5fb3b3;
}
